<REDDIT_CLIENT_ID>asdffdsa-asdf</REDDIT_CLIENT_ID>
<REDDIT_CLIENT_SECRET>asdffdsaasdffdsa</REDDIT_CLIENT_SECRET>
<REDDIT_ACCESS_TOKEN>1234567890-12_asdffdsa-asdffdsa</REDDIT_ACCESS_TOKEN>
<REDDIT_REFRESH_TOKEN>1234567890-asdf-asdffdsa_asdf-fdsa</REDDIT_REFRESH_TOKEN>
<DISTINGUISH>True</DISTINGUISH>
<STICKY>False</STICKY>
<SUBREDDIT>GermanRap</SUBREDDIT>
<TITLE>[MEGATHREAD] Besprechung der Releases vom %CURRENT_DATE%</TITLE>





